{% extends "Layouts.html" %}
{% block content %}
<br>
<div>
  <h1>Contactos</h1>
  <hr class="my-4">
  <center><h3>UNETI - PNF Ingeniería en Informática - Programación I M2 - 1-2023</h3></center>
  <br>
</div>
<!--Deberíamos colocar tarjetas de presentación con un texto chill y nuestra info:D-->
<div class="container px-4 text-center">
  <div class="row gx-5">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <center>
            <h5 class="card-title">Maria Cristina Berrizbeitia</h5>
          </center>
          <p class="card-text">Telf: </p>
          <p class="card-text">Telegram: </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <center>
            <h5 class="card-title">Reinaldo Valera</h5>
          </center>
          <p class="card-text">telf: +58 412-392 41 86</p>
          <p class="card-text">Telegram: @Reinaldovalera</p>
        </div>
      </div>   
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <center>
            <h5 class="card-title">Ana Del Nogal</h5>
          </center>
          <p class="card-text">telf: +58 424-283 01 30 </p>
          <p class="card-text">Telegram: @Adelnogalo</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}